.btnSubmit {
    background-color: royalblue;
    color:whitesmoke;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    padding-top: 5px;
}


.Form {
    direction: rtl;
    width:100% ;
    display: block;
    padding: 0 20px;
    margin-bottom: 20px;
}


.Form label {
    width: 20%;
    margin-left: 10px;
    
}


.Form input {
    margin: 0 20px;
    width: 60%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px #fff;
    border: 2px solid royalblue;

}
