
.Header {
    position: relative;
    background-image:linear-gradient(to right bottom ,rgba(60, 59, 65, 0.89) ,rgba(19, 13, 109, 0.8)) ,url(../../assets/Facebook-Marketplace.jpg);
    height: 80vh;
    background-position: center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;

}


.mainPar {
    position: absolute;
    font-size: 40px;
    color:white;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-40%,-30%);

}

.subHeading{
    font-size: 32px;
}











.Head {
    font-size: 30px;
    color: rgb(79, 80, 80,0.9);

    padding: 0 20PX;
}


.Head::after {
    display: block;
    content: '';
    width: 70%;
    margin: 20px auto;
    height: 3px;
    background-color: royalblue;




}